header h1 {
    font-size: 28px;
    text-align: center;
    font-style: italic;
}

header .createNew {
	width: 32px;
	height: 32px;
    text-align: center;
    cursor: pointer;
	position: relative;
	float: right;
	top: -32px;
}

.container {
    width: 294px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    min-height: 100%;
}

ul.fmn-todos {

}

/*
.fmn-todos .todo.editing .edit .input {
    padding: 0 0 10px 32px;
    width: 85%;
    outline: none;
    font-size: 18px;
}
*/
	
	.fmn-todos .todo .display {
		width: 280px;
		height: 45px;
	}

	.fmn-todos .todo .display .content {
		width: 216px;
	}
	
		.fmn-todos .todo .display .done {
            float: left;
            margin: 17px 18px 0 0;
        }
        
		.fmn-todos .todo .display .delete {
			float: right;
		    display: block;
		    width: 30px; height: 30px;
		    cursor: pointer;
		}

footer {
    display: none;
}




@media all and (orientation:portrait) {

}



@media all and (orientation:landscape) {

header h1 {

}

.container {
    width: 450px;
}

}
