header h1 {
    font-size: 28px;
    color: red;
    text-align: center;
    font-style: italic;
}

header .createNew {
	width: 32px;
	height: 32px;
    text-align: center;
    cursor: pointer;
	position: relative;
	float: right;
	top: -32px;
}

.container {
    width: 294px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    min-height: 100%;
}

ul.fmn-todos {

}

/*
.fmn-todos .todo.editing .edit .input {
    padding: 0 0 10px 32px;
    width: 85%;
    outline: none;
    font-size: 18px;
}
*/
	
	.fmn-todos .todo .display {
		width: 280px;
	}

	.fmn-todos .todo .display .content {
		width: 216px;
	}

footer {
    display: none;
}