
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 

pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/


/* forms.css from blueprint */
input[type=text], input[type=password], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}




html, body {
    height: 100%;
}

body {
    background-color:#E0E0E0;
}

body, 
select, input, textarea, button { 
    font-size:20px;
	font-family:  'Times New Roman';
}

.container {
    background: #FBFEFB;
    width: 560px;
    margin: 0 auto;
    padding: 10px 50px;
    position: relative;
    min-height: 100%;
    border: 1px solid #C2B8B7;
    border-top: none;
    border-bottom: none;
}

header {
	border-bottom: 1px dashed #C2B8B7;
}

	header h1 {
	    font-size: 28px;
	    text-align: center;
	    font-style: italic;
		margin: 10px 0;
	}
	header .createNew {
		/*  Disable for now */
		display: none;
		width: 32px;
		height: 32px;
	    text-align: center;
	    cursor: pointer;
		position: relative;
		float: right;
		top: -32px;
	}

#stats {
	font-size: 14px;
	margin: 15px 0 0;
}

	#stats .text {
		
	}
	
	#stats #clearCompleted {
		float: right;
	}

nav.lists {
    /* disable for now */
    display:none;
    position: absolute;
    left: -161px;
    width: 160px;
    background: #DCDCDC;
    border: 1px solid #505050;
    border-right: none;
}
    nav.lists .compact {
        display:none;
    }
    nav.lists h2 {
        font-size: 20px;
        margin: 4px;
    }
    nav.lists ul {
        font-size: 16px;
    }
        nav.lists ul li {
            padding: 10px 0;
            margin: 0 10px;
            cursor: pointer;
        }
        nav.lists ul li.active {
            color: #000;
            font-weight: bold;
        }
        nav.lists ul li:hover,
        nav.lists ul li:hover a,
        nav.lists ul li:hover a:visited {
            color: #000;
            font-weight: bold;
        }
        nav.lists ul li:hover a,
        nav.lists ul li:hover a:visited {
            text-decoration: underline;
        }
        nav.lists ul li:before {
            content: '\00bb  ';
        }
            nav.lists ul li a,
            nav.lists ul li a:visited {
                text-decoration: none;
                color: #282828;
            }
            nav.lists ul li.active a,
            nav.lists ul li.active a:visited {
                text-decoration: none;
                color: #000;
            }

nav.lists.hide {
    width: 20px;
    left: -21px;
}
    nav.lists.hide .full {
        display: none;
    }
    nav.lists.hide .compact {
        display: block;
    }


ul.fmn-todos {
    list-style: none;
    margin: 30px auto 0;
}
.fmn-todos .todo {
    margin: 10px 0 0;
	height: 50px;
}
    .fmn-todos .todo .display {
        border-bottom: 1px dashed #B3B3B3;
    }
    .fmn-todos .todo .display.done .content {
        text-decoration: line-through;
    }
	.fmn-todos .todo .display:hover {
		background: url(../images/delete32.png) no-repeat 100% 0;
	}
        .fmn-todos .todo .display .done {
            float: left;
            margin: 17px 18px 0 0;
        }
        .fmn-todos .todo .display .content {
			float: left;
			padding: 10px 0;
        }
		.fmn-todos .todo .display .delete {
			float: right;
		    display: block;
		    width: 32px; height: 32px;
		    cursor: pointer;
		}

    .fmn-todos .todo .edit {
        display: none;
        visibility: hidden;
    }
    
.fmn-todos .todo.editing {
    
}
    .fmn-todos .todo.editing .display {
        display: none;
        visibility: hidden;
    }
    .fmn-todos .todo.editing .edit {
        display: block;
        visibility: visible;
        border-bottom: 1px solid #B3B3B3;
        padding: 0 0 5px 0;
    }
        .fmn-todos .todo.editing .edit .input {
            padding: 10px 0;
			text-indent: 30px;
            width: 100%;
            outline: none;
        }
/** Todo Indent Rules **/
.fmn-todos .todo.indent-1 { padding: 0 0 0 25px; }
.fmn-todos .todo.indent-2 { padding: 0 0 0 50px; }
.fmn-todos .todo.indent-3 { padding: 0 0 0 75px; }
.fmn-todos .todo.indent-4 { padding: 0 0 0 100px; }
.fmn-todos .todo.indent-5 { padding: 0 0 0 125px; }
.fmn-todos .todo.indent-6 { padding: 0 0 0 150px; }
.fmn-todos .todo.indent-7 { padding: 0 0 0 175px; }
.fmn-todos .todo.indent-8 { padding: 0 0 0 200px; }



/**
.todoList {
    margin: 30px 0;
    list-style: none;
}
.todoList li {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    clear: both;
    border-top: 1px solid #CCC;
    position: relative;
}
.todoList li input {
    cursor: pointer;
    padding: 10px;
    margin: 0;
    width: 92%;
}
.todoList li input:hover {
    background: url(../images/edit32.png) no-repeat 100% 0;
}
.todoList li input:focus {
    outline: 0 none;
    border-color:#666;
    background: url(../images/delete32.png) no-repeat 100% 0;
}
.todoList li .delete {
    position: absolute;
    display: none;
    width: 32px; height: 32px;
    right: 22px;
    top: 13px;
    cursor: pointer;
    //background:#000;
}
.todoList li.createNew {
    text-align: center;
    border: 2px solid #92CAE4;
    width: 31%;
    position: fixed;
    bottom: 30px;
    cursor: pointer;
}
**/


footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
}
footer a {
    text-decoration:none;
}








.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}