<!doctype html>
<html lang="en">

<head>
  	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>Forgetmenot ToDo List</title>
    
    <link rel="stylesheet" href="css/forgetmenot.css?v=1">

    <script src="js/json2.js"></script>
    <script src="js/jquery-1.5.2.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone-localstorage.js"></script>

    <script src="forgetmenot.js"></script>

</head>
<body>

    <div class="container" data-role="page">
		<header data-role="header">
    		<h1>Forgetmenot ToDo List</h1>
    		<span>A ToDo List for the common forgetful-but-not-me-not.</span>
		</header>
    	<ul class="todoList" id="todoApp" data-role="content">
			<input type="button" id="createNew" class="info todo createNew" data-role="button" value="Create New ToDo">
    	<!--
			<li id="todo-1" class="todo">harrys page</li> 

			<li id="todo-2" class="todo">saved</li>
    		
    		<li id="todo-3" class="todo current">buy an airplane
    		    <input type="text" value="Buy an airplane">
    		    <div class="save success">Save</div>
    		    <div class="delete error">Delete</div>
    		</li>
		-->

    	</ul>

    	<footer data-role="footer">
			<a href="http://hswolff.com/">hswolff is working on it</a>
		</footer>


    </div>

    <!-- Templates -->

    <script type="text/template" id="item-template">
			<span><%= content %></span>
            <input type="text" value="<%= content %>">
            <div class="save success">Save</div>
		    <div class="delete error">Delete</div>
    </script>


</body>
</html>
